<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task System | Simple Way to do Things</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">                

                <div class="tarefas">
                    <h1 class="mb-30">Tasks System</h1>

                    <form method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="tarefa" class="form-control" />
                            <input type="submit" value="Inserir" name="acao" class="btn btn-success">
                        </div>  
                    </form>

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Tarefa</th>
                            <th scope="col">Ação</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < tarefasList.length; i++) { %>
                                <tr>
                                    <td><%= tarefasList[i] %></td>
                                    <td><a href="/deletar/<%= i %>">Deletar</a></td>
                                </tr>                    
                            <% } %>
                        </tbody>
                      </table>

                    

                </div>

            </div>
        </div>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>